<div class="mt-4">
  <label for="<%= setting.name %>" class="block font-semibold text-gray-900"><%= setting.name %></label>
  <input type="text" id="<%= setting.name %>" name="advertisement_additional[<%= setting.name %>]" class="form-inp font-bold py-3 px-4 pr-9 block w-max border-gray-200 rounded-full text-sm focus:border-blue-500 focus:ring-blue-500">
</div>